#header {
  display: flex;
  justify-content: space-between;
  padding: 15px 150px;
  align-items: center;
  background-color: white;
  position: sticky;
  top: 0;
  box-shadow: 0 10px 33px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  align-items: center;
  gap: 2px;
}

.logo p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #393f4f;
}

.menuitems ul {
  display: flex;
  gap: 25px;
  list-style-type: none;
}

.menuitems ul li a {
  text-decoration: none;
  color: #393f4f;
  font-weight: 500;
  transition: 0.3s;
}

.menuitems ul li a:hover {
  color: #1bbc9d;
  transition: 0.3s;
}

.headerButton button {
  border: none;
  padding: 13px 30px;
  border-radius: 40px 40px;
  background-color: #1bbc9d;
  color: white;
  font-size: 15px;
  transition: 0.5s;
}

.headerButton button:hover {
  transform: translateY(-7px);
  transition: 0.5s;
  cursor: pointer;
}
