#services_main {
  background-color: #fafbfe;
  padding: 80px 120px;
}

.services_section{
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.services_heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.services_heading h2 {
  font-size: 30px;
}

hr {
  border: 0.5px solid #5cbd9e;
  width: 50px;
}

.services_heading p {
  color: #858d96;
  width: 60%;
  text-align: center;
}

.services_boxes{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.services_boxes_row{
    display: flex;
    justify-content: space-between;
}

.services_box{
    padding: 15px 15px;
    width: 33.33%;
}

.services_box_inside{
    display: flex;
    gap: 20px;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: -5px;
}

.content h4{
    font-size: 18px;
    font-weight: 600;
}

.content p{
    color: #858d96;
    font-size: 16px;
    padding-right: 50px;
}

