.team_section {
  padding: 70px 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 45px;
}

.team_section h2 {
  font-size: 30px;
  padding: 0px 250px;
  /* width: 60%; */
  text-align: center;
}

.Team_subheading {
  color: #858d96;
  padding: 0px 250px;
  text-align: center;
  font-size: 17px;
  line-height: 30px;
}

.team_row {
  display: flex;
  justify-content: space-between;
}

.team_col {
  display: flex;
  flex-direction: column;
  width: 24%;
  gap: 10px;
  border-bottom: 1px solid #ecf0f5;
}

.team_description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.team_description h3{
    font-size: 16px;
}

.team_description p{
    font-size: 13px;
    color: #a8aeb4;
    padding-bottom: 20px;
}

.team_img img {
  width: 100%;
  border: none;
  border-radius: 5px;
}
